<h1>{{ 'Utilisateur' | plural:nbSelected }}</h1>

<select [(ngModel)]="nbSelected">
    <option>0</option>
    <option>1</option>
    <option>2</option>
</select>

<select [(ngModel)]="extSelected">
    <option value="">Tous</option>
    @for (ext of extensions ; track $index) {
        <option>{{ ext }}</option>
    }
</select>

<form (ngSubmit)="createUser(myForm)" #myForm="ngForm">

    @if (myForm.invalid && myForm.submitted) {
        @if (email.hasError('required')) {
            Email obligatoire
        }
        @if (name.hasError('required')) {
            Nom obligatoire
        }
    }

    <label>Email</label>
    <input type="text" name="email" ngModel #email="ngModel" required>

    <label>Nom</label>
    <input type="text" name="name" ngModel #name="ngModel" required>

    <button [ariaBusy]="loading" [disabled]="loading">
        {{ loading ? '' : 'Créer utilisateur' }}
    </button>
</form>


<div>
    <input type="text" placeholder="Mettre l'index" [(ngModel)]="userIndex">
    @if (errorMessage) {
        <div>{{ errorMessage }}</div>
    }
    <button (click)="scrollToIndex()">Scroll</button>
</div>

@for (u of users() | extFilter:extSelected ; track u.id) {
    <div #refUser>
        <app-user-card [user]="u" (eventDelete)="deleteUser($event)">
            <h1 #title>Titre</h1>
            <h2>Footer</h2>
        </app-user-card>
    </div>
}