<form (ngSubmit)="login()" [formGroup]="myForm">

    @if (myForm.invalid && submitted) {
        @if (propEmail.hasError('required')) {
            Email obligatoire
        }
        @if (propEmail.hasError('minlength')) {
            Min. Caractères obligatoires
        }
        @if (propEmail.hasError('domain')) {
            {{ propEmail.getError('domain')  }} est interdit !
        }
    }

    <label>Email</label>
    <input type="text" [formControl]="propEmail">

    <label>Mot de passe</label>
    <input type="password" [formControl]="propPass">

    <button>Connexion</button>
</form>